.so-page-builder .container-fluid{padding:0; overflow:hidden;}.so-page-builder .container{padding:0; overflow:hidden;}.so-page-builder section{overflow:hidden;}
.col_zx4u{margin:0 0 30px 0; overflow:hidden;}
/* Style Testimonial */ 
.mod-testimonial_gyev h3{text-align:center}.mod-testimonial_gyev .item-info,.mod-testimonial_gyev .item-info h5,.mod-testimonial_gyev .item-info span{color:#666}.mod-testimonial_gyev .item-img-info img{border-radius:50%; margin:0 auto; max-width:100%;}.mod-testimonial_gyev .item{border:1px none #ccc; background:rgba(255,255,255,0.8) }
