.so-page-builder .container-fluid{padding:0; overflow:hidden;}.so-page-builder .container{padding:0; overflow:hidden;}.so-page-builder section{overflow:hidden;}
.col_nbjr{margin:9px 0 0 0; overflow:hidden;}
.col_8mwf{margin:7px 0 0 0; overflow:hidden;}
.col_q1kl{margin:17px 0 0 0; overflow:hidden;}
.col_a9hi{margin:0 0 30px 0; overflow:hidden;}
